body{
    background-color: rgb(117, 162, 214);
}

.viva{
    background-color: black;
}

.muerta{
    background-color: whitesmoke;
}

.casilla{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    display: grid;
    place-content: center;
}

#tablero{
    display: grid;
    place-content: center;
    margin-top: 5vh;
}

#config-matriz{
    display: grid;
    place-content: center;
}

h1{
    display: grid;
    place-content: center;
    margin-top: 5vh;
}