body {
    background-color: rgb(117, 162, 214);
    font-family: 'Arial', sans-serif;
}

.casilla.viva {
    background-color: rgb(214, 169, 117);
}

.casilla.muerta {
    background-color: rgba(255, 255, 255, 0.7);
}

.casilla {
    width: 55px;
    height: 55px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: grid;
    place-content: center;
    transition: background-color 0.3s;
}

#tablero {
    display: grid;
    place-content: center;
    margin-top: 2vh;
}

#config-matriz {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 3vh;
    padding: 10px;
    border-radius: 8px;
}

#config-matriz label {
    margin-right: 5px;
    font-weight: bold;
}

#config-matriz input {
    width: 212px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#config-matriz button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#config-matriz button:hover {
    background-color: #0056b3;
}


h1 {
    display: grid;
    place-content: center;
    margin-top: 5vh;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

button:hover {
    transform: scale(1.05);
}

#botones {
    display: flex;
    place-content: center;
    margin-top: 3vh;
    gap: 15px;
}

#iniciar {
    width: 126px;
    background-color: #6db85b;
    color: white;
    margin-bottom: 10px;
}

#parar {
    width: 126px;
    background-color: #d9534f;
    color: white;
    margin-bottom: 10px;
}

#limpiar {
    width: 126px;
    background-color: lightskyblue;
    color: whitesmoke;
    border: 1px solid rgb(117, 162, 214);
    margin-bottom: 10px;
}

#mostrarTableros {
    width: 126px;
    background-color: lightgray;
    color: darkgray;
    border: 1px solid rgb(117, 162, 214);
    margin-bottom: 10px;
}

#reglas {
    margin: 20px auto;
    width: 550px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    margin-top: 3vh;
}

#reglas h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#reglas ul {
    list-style-type: square;
    padding-left: 20px;
}